<search-bar-directive options="vm.options">
</search-bar-directive>

<br>

<div class="center">
    <div class="list" ng-if="vm.currentType === 'artist'"> 
    <div ng-if="!vm.items || vm.items.length === 0">
        No results
    </div>
    <div class="item" ng-repeat="artist in vm.items">
        <artist-card artist="artist">
        </artist-card>
    </div>
    </div>

    <div class="list" ng-if="vm.currentType === 'album'"> 
    <div ng-if="!vm.items || vm.items.length === 0">
        No results
    </div>
    <div class="item" ng-repeat="album in vm.items">
        <album-card album="album">
        </album-card>
    </div>
    </div>

    <div class="list" ng-if="vm.currentType === 'track'"> 
    <div ng-if="!vm.items || vm.items.length === 0">
        No results
    </div>
    <div class="item" ng-repeat="track in vm.items">
        <track-card track="track">
        </track-card>
    </div>
    </div>
</div>

